@import "tailwindcss";

:root {
  --border: #e8e8e82f;
  --border-2: #e8e8e819;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h5 {
  font-family: cursive;
}
button {
  font-family: Arial, Helvetica, sans-serif;
}

html body #root {
  height: 100%;
}
